# Compiled
*.elc

# Packaging
corral-autoloads.el
corral-pkg.el
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~
*.#
#*.

# Undo-tree save-files
*.~undo-tree

# Harness
.kiro
.claude
